.why-container{
    background-image: url('/src/assets/img/illustrations/hero-bg.png');
    background-size: cover; /* Scale the image to cover the entire element */
    background-position: center; /* Center the image within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: auto;
    

}
.why-container .cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

.why-texts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    max-width: 500px;
    width: 50%;
}
.why-texts h6{
    font-size: calc(1rem + 2vw);
    font-weight: 900;
    line-height: 1;
    text-align: center;
}
.why-texts p{

        font-size: 1rem !important;
        margin-bottom: 1.8rem !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem;

}

